
<div class="footer">
<mat-grid-list cols="5" rowHeight="2:1">
  <mat-grid-tile>
    <img class="line2 column0" src="assets/img/tree.png" style="object-fit: contain; width: 100%; height: 60%">
    <img class="line5 column1" src="assets/img/fb.png" style="object-fit: contain; width: 20%; height: 20%">
    <img class="line5 column2" src="assets/img/twitter.png" style="object-fit: contain; width: 20%; height: 20%">
    <img class="line5 column3" src="assets/img/printerest.png" style="object-fit: contain; width: 20%; height: 20%">
    <img class="line5 column4" src="assets/img/yt.png" style="object-fit: contain; width: 20%; height: 20%">
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="line1">{{ 'Poznaj nas' | translate }}</div>
    <div class="line2">{{ 'O Gumtree' | translate }}</div>
    <div class="line3">{{ 'Zasady zamieszczania' | translate }}</div>
    <div class="line4">{{ 'Gumtree blog' | translate }}</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="line1">{{ 'Zobacz więcej' | translate }}</div>
    <div class="line2">{{ 'Tematy Gumtree' | translate }}</div>
    <div class="line3">{{ 'Lokalizacje' | translate }}</div>
    <div class="line4">{{ 'Ceny nieruchomości' | translate }}</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="line1">{{ 'Sprawy prawne' | translate }}</div>
    <div class="line2">{{ 'Zasady korzystania' | translate }}</div>
    <div class="line3">{{ 'Polityka poprawności' | translate }}</div>
    <div class="line4">{{ 'Informacje o Cookies' | translate }}</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="line1">{{ 'Pomoc i porady' | translate }}</div>
    <div class="line2">{{ 'Pomoc' | translate }}</div>
    <div class="line3">{{ 'Pozostań bezpiecznym' | translate }}</div>
    <div class="line4">{{ 'Napisz do nas' | translate }}</div>
    <div class="line5">{{ 'Promowanie ogłoszeń' | translate }}</div>
  </mat-grid-tile>
</mat-grid-list>
</div>
