
<div class="footer">
<mat-grid-list cols="5" rowHeight="2:1">
  <mat-grid-tile>
    <img class="line2 column0" src="assets/img/tree.png" style="object-fit: contain; width: 100%; height: 50%">
    <img class="line4 column1" src="assets/img/fb.png" style="object-fit: contain; width: 20%; height: 20%">
    <img class="line4 column2" src="assets/img/twitter.png" style="object-fit: contain; width: 20%; height: 20%">
    <img class="line4 column3" src="assets/img/pinterest.png" style="object-fit: contain; width: 20%; height: 20%">
    <img class="line4 column4" src="assets/img/yt.jpg" style="object-fit: contain; width: 20%; height: 20%">
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="line1">Poznaj nas</div>
    <div class="line2">O Gumtree </div>
    <div class="line3">Zasady zamieszczania</div>
    <div class="line4">Gumtree blog</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="line1">Zobacz więcej</div>
    <div class="line2">Tematy Gumtree </div>
    <div class="line3">Lokalizacje</div>
    <div class="line4">Ceny nieruchomości</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="line1">Sprawy prawne</div>
    <div class="line2">Zasady korzystania </div>
    <div class="line3">Polityka poprawności</div>
    <div class="line4">Informacje o Cookies</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="line1">Pomoc i porady</div>
    <div class="line2">Zasady korzystania </div>
    <div class="line3">Polityka poprawności</div>
    <div class="line4">Informacje o Cookies</div>
    <div class="line5">Promowanie ogłoszeń</div>
  </mat-grid-tile>
</mat-grid-list>
</div>
