
<div class="footer" tabindex="0" aria-label="Footer">
<mat-grid-list cols="5" rowHeight="2:1">
  <mat-grid-tile>
    <img class="line2 column0" src="assets/img/tree.png" alt="Gumtree logo" style="object-fit: contain; width: 100%; height: 60%" tabindex="0" role="img">
    <img class="line5 column1" src="assets/img/fb.png" alt="Facebook logo" style="object-fit: contain; width: 20%; height: 20%" tabindex="0" role="link" aria-label="Gumtree Polska on Facebook">
    <img class="line5 column2" src="assets/img/twitter.png" alt="Twitter logo" style="object-fit: contain; width: 20%; height: 20%" tabindex="0" role="link" aria-label="Gumtree Polska on Twitter">
    <img class="line5 column3" src="assets/img/printerest.png" alt="Printerest logo" style="object-fit: contain; width: 20%; height: 20%" tabindex="0" role="link" aria-label="Gumtree Polska on Printerest">
    <img class="line5 column4" src="assets/img/yt.png" alt="Youtube logo" style="object-fit: contain; width: 20%; height: 20%" tabindex="0" role="link" aria-label="Gumtree Polska on Youtube">
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="line1" tabindex="0" role="heading">{{ 'Poznaj nas' | translate }}</div>
    <div class="line2" tabindex="0" role="link">{{ 'O Gumtree' | translate }}</div>
    <div class="line3" tabindex="0" role="link">{{ 'Zasady zamieszczania' | translate }}</div>
    <div class="line4" tabindex="0" role="link">{{ 'Gumtree blog' | translate }}</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="line1" tabindex="0" role="heading">{{ 'Zobacz więcej' | translate }}</div>
    <div class="line2" tabindex="0" role="link">{{ 'Tematy Gumtree' | translate }}</div>
    <div class="line3" tabindex="0" role="link">{{ 'Lokalizacje' | translate }}</div>
    <div class="line4" tabindex="0" role="link">{{ 'Ceny nieruchomości' | translate }}</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="line1" tabindex="0" role="heading">{{ 'Sprawy prawne' | translate }}</div>
    <div class="line2" tabindex="0" role="link">{{ 'Zasady korzystania' | translate }}</div>
    <div class="line3" tabindex="0" role="link">{{ 'Polityka poprawności' | translate }}</div>
    <div class="line4" tabindex="0" role="link">{{ 'Informacje o Cookies' | translate }}</div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="line1" tabindex="0" role="heading">{{ 'Pomoc i porady' | translate }}</div>
    <div class="line2" tabindex="0" role="link">{{ 'Pomoc' | translate }}</div>
    <div class="line3" tabindex="0" role="link">{{ 'Pozostań bezpiecznym' | translate }}</div>
    <div class="line4" tabindex="0" role="link">{{ 'Napisz do nas' | translate }}</div>
    <div class="line5" tabindex="0" role="link">{{ 'Promowanie ogłoszeń' | translate }}</div>
  </mat-grid-tile>
</mat-grid-list>
</div>
