<div #fontChange id="content" [ngClass]="{'high-contrast' : contrast}">
    <app-toolbar></app-toolbar>

    <div class="container mb-5">

      <div class="row">

        <div class="col-7 mt-5 pt-5">
          <p id="title" tabindex="0" role="heading">{{ 'Zachowane ogłoszenia' | translate }}</p>
        </div>

        <div class="col-5">
          <div id="flexContent" #fontChange2>

            <div class="spacer"></div>

            <div id="search" #changeFont2 tabindex="0" aria-label="Search panel" [ngClass]="{'high-contrast-bordered' : contrast}">
              <!-- wyszukiwarka - input -->
              <mat-form-field appearance="fill" class="searchInput roundedLeftBorders">
                <mat-label>{{ 'Czego szukasz' | translate }}?</mat-label>
                <input matInput type="search" placeholder="{{ 'np.' | translate }} Passat" value="">
              </mat-form-field>
              <button mat-raised-button class="searchButton" [ngClass]="{'high-contrast-bordered' : contrast}">
                {{ 'Szukaj' | translate }}
              </button>
            </div>
          </div>
        </div>

      </div>

      <div class="row mt-3 p-3 align-items-center" id="filters" tabindex="0" aria-label="Filters panel" [ngClass]="{'high-contrast-bordered' : contrast}">

        <div class="col-2"><p class="my-auto" id="header">{{ 'Filtry' | translate }}</p></div>

        <div class="col-2">
          <label for="category" class="small-text mb-1">{{ 'Kategoria' | translate }}</label><br/>
          <select class="form-select form-select-lg" name="category" id="category" aria-label="Category">
            <option *ngFor="let category of categories" [value]="category.value">
              {{ category.viewValue | translate }}
            </option>
          </select>
        </div>

        <div class="col-2">
          <label for="location" class="small-text mb-1">{{ 'Lokalizacja' | translate }}</label><br/>
          <select class="form-select form-select-lg" name="location" aria-label="Location">
            <option *ngFor="let location of locations" [value]="location.value">
              {{ location.viewValue | translate }}
            </option>
          </select>
        </div>

        <div class="col-2">
          <label for="type" class="small-text mb-1">{{ 'Rodzaj oferty' | translate }}</label><br/>
          <select class="form-select form-select-lg" name="type" aria-label="Offer type">
            <option *ngFor="let type of types" [value]="type.value">
              {{ type.viewValue | translate }}
            </option>
          </select>
        </div>

        <div class="col-3 ms-5">
          <label for="price-from" class="small-text mb-1">{{ 'Cena' | translate }}</label><br/>
          <input type="text" name="price-from" size="3" placeholder="{{ 'Od' | translate }}" class="price" aria-label="Price">
          <span class="small-text ms-1 me-3">zł</span>

          <input type="text" name="price-to" size="3" placeholder="{{ 'Do' | translate }}" class="price" aria-label="Price">
          <span class="small-text ms-1">zł</span>
        </div>

      </div>

      <div class="row justify-content-between mt-4 mb-3 d-flex flex-row">
        <div class="col-4">
          <button id="btn-delete" class="mt-2 py-2 center" (click)="removeFavourites()" [ngClass]="{'high-contrast-bordered' : contrast}"><mat-icon class="me-1">delete</mat-icon>{{ 'Usuń wszystkie' | translate }}</button>
        </div>

        <div class="col-8 d-flex justify-content-end">
          <p class="small-text me-2 mt-3">{{ 'Sortuj według' | translate }}:</p>
          <select class="px-2" id="sort-by" name="sort-by" aria-label="Sort by" [ngClass]="{'high-contrast-bordered' : contrast}">
            <option value="newest">{{ 'Najnowsze' | translate }}</option>
            <option value="cheapest">{{ 'Najtańsze' | translate }}</option>
            <option value="mostExp">{{ 'Najdroższe' | translate }}</option>
          </select>
        </div>
      </div>

      <span *ngFor="let announcement of announcements | paginate: { itemsPerPage: itemsPerPage, currentPage: page }" tabindex="0" aria-label="Announcement">
        <div class="row announcement-card mb-4 mt-1" *ngIf="announcement.favourite == true" [ngClass]="{'high-contrast-bordered' : contrast}">

          <div class="col-2 p-1" tabindex="0" aria-label="Picture of the advertised item">
            <img src="{{ announcement.image }}" alt="advertised item" class="w-100 pointer" (click)="onSelect(announcement)">
          </div>

          <div class="col-10">

            <div class="row justify-content-between d-flex flex-row pt-3 ps-2 pe-2">
              <div class="col-10" tabindex="0">
                <span class="big-text pointer" (click)="onSelect(announcement)">{{ announcement.title | translate }}</span>
              </div>
              <div class="col-2 d-flex justify-content-end" tabindex="0">
                <span class="big-text">{{ announcement.price }} {{ 'zł' | translate }}</span>
              </div>
            </div>

            <div class="row justify-content-between d-flex flex-row mt-4 pt-4 ps-2 pe-1">
              <div class="col-6 pt-4" tabindex="0">
                <span id="date">{{ announcement.location }}, {{ announcement.date | translate }}</span>
              </div>
              <div class="col-6 d-flex justify-content-end pt-2" tabindex="0" role="button" aria-checked="true" aria-label="Add to favourites">
                <span (click)="announcement.favourite = !announcement.favourite" class="me-2">
                  <mat-icon *ngIf="announcement.favourite == true" id="star" [ngClass]="{'high-contrast' : contrast}">star</mat-icon>
                </span>
              </div>
            </div>

          </div>

        </div>
      </span>

      <div class="row mt-5" *ngIf="countFavourites() > 0">
        <div class="col-12 text-center" tabindex="0">
          <pagination-controls nextLabel="{{'Następna' | translate }}" previousLabel="{{'Poprzednia' | translate }}" class="pagination"
                               (pageChange)="page = $event" [ngClass]="{'high-contrast' : contrast}"></pagination-controls>
        </div>
      </div>

      <div class="row" *ngIf="countFavourites() == 0">
        <div class="col-12 text-center small-text" tabindex="0">
          {{ 'Brak zachowanych ogłoszeń' | translate }}.
        </div>
      </div>

    </div>
    <app-footer></app-footer>
  </div>
