<div #fontChange id="content">
  <app-toolbar></app-toolbar>

  <div class="container mb-5">

    <div id="flexContent" #fontChange2>
      <div class="spacer"></div>

      <div id="search" #changeFont2>
        <!-- Kategoria - selector -->
        <mat-form-field appearance="fill" class="selector roundedLeftBorders">
          <mat-label>Kategoria</mat-label>
          <mat-select [(value)]="selectedCategory">
            <mat-option *ngFor="let category of categories" [value]="category.value">
              {{category.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Lokalizacja - selector -->
        <mat-form-field appearance="fill" class="selector">
          <mat-label>Lokalizacja</mat-label>
          <mat-select [(value)]="selectedLocation">
            <mat-option *ngFor="let location of locations" [value]="location.value">
              {{location.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- wyszukiwarka - input -->
        <mat-form-field appearance="fill" class="searchInput">
          <mat-label>Wyszukaj</mat-label>
          <input matInput type="search" placeholder="np. Passat" value="">
        </mat-form-field>
        <button mat-raised-button class="searchButton">
          Wyszukaj
        </button>
      </div>
    </div>

    <div class="row mt-5 p-3 align-items-center" id="filters">
      
      <div class="col-2"><p class="my-auto" id="header">Filtry</p></div>
      
      <div class="col-2">
        <label for="category" class="small-text mb-1">Kategoria</label><br/>
        <select class="form-select form-select-lg" name="category" id="category">
          <option *ngFor="let category of categories" [value]="category.value">
            {{ category.viewValue }}
          </option>
        </select>
      </div>
      
      <div class="col-2">
        <label for="location" class="small-text mb-1">Lokalizacja</label><br/>
        <select class="form-select form-select-lg" name="location">
          <option *ngFor="let location of locations" [value]="location.value">
            {{ location.viewValue }}
          </option>
        </select>
      </div>
      
      <div class="col-2">
        <label for="type" class="small-text mb-1">Rodzaj oferty</label><br/>
        <select class="form-select form-select-lg" name="type">
          <option *ngFor="let type of types" [value]="type.value">
            {{ type.viewValue }}
          </option>
        </select>
      </div>
      
      <div class="col-3 ms-5">
        <label for="price-from" class="small-text mb-1">Cena</label><br/>
        <input type="text" name="price-from" size="3" placeholder="Od" class="price">
        <span class="small-text ms-1 me-3">zł</span>

        <input type="text" name="price-to" size="3" placeholder="Do" class="price">
        <span class="small-text ms-1">zł</span>
      </div>

    </div>
  
    <div class="row justify-content-between mt-4 mb-3 d-flex flex-row">
      <div class="col-8">
        <p class="small-text mt-3"><a href="/">Wszystkie ogłoszenia</a> > <a href="/category">Dom i Ogród</a> > <a href="/category">Meble</a></p>
      </div>

      <div class="col-4 d-flex justify-content-end">
        <p class="small-text me-2 mt-4">Sortuj według:</p>
        <mat-form-field appearance="fill">
          <mat-select [(value)]="selectedSortBy">
            <mat-option value="newest">Najnowsze</mat-option>
            <mat-option value="cheapest">Najtańsze</mat-option>
            <mat-option value="mostExp">Najdroższe</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row announcement-card mb-4 mt-1" *ngFor="let announcement of announcements | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
      
      <div class="col-2 p-1">
        <img src="{{ announcement.image }}" alt="" class="w-100">
      </div>

      <div class="col-10">

        <div class="row justify-content-between d-flex flex-row pt-3 ps-2 pe-2">
          <div class="col-10">
            <span class="big-text">{{ announcement.title }}</span>
          </div>
          <div class="col-2 d-flex justify-content-end">
            <span class="big-text">{{ announcement.price }}</span>
          </div>
        </div>

        <div class="row justify-content-between d-flex flex-row mt-5 pt-4 ps-2 pe-1">
          <div class="col-6 pt-4">
            <span id="date">{{ announcement.location }}, {{ announcement.date }}</span>
          </div>
          <div class="col-6 d-flex justify-content-end pt-2">
            <span (click)="announcement.favourite = !announcement.favourite" class="me-2">
              <mat-icon *ngIf="announcement.favourite == false" id="star_outline">star_outline</mat-icon>
              <mat-icon *ngIf="announcement.favourite == true" id="star">star</mat-icon>
          </span>
          </div>
        </div>

      </div>

    </div>

    <div class="row mt-5">
      <div class="col-12 text-center">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>

  </div>
  <app-footer></app-footer>
</div>