
.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.spacer {
  flex: 1;
}

.toolbar img {
  margin: 0 24px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}
.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}


.round{
  border-radius: 5rem;
  background: #ff8f1a;
  font-size: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  color: #e6ebf1;
}
.hover12 {
  position: relative;
}

.changeFontButton img{
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.changeFontButton:hover{
 /* opacity: .2;*/
  filter: contrast(0.3);
}



