<div class="toolbar" role="banner" xmlns="http://www.w3.org/1999/html">
  <img
    width="40"
    alt="Angular Logo"
    src="assets/img/tree.png"
  />
  <span>Announcements Portal</span>
  <div class="spacer"></div>
  <img class="changeFontButton" src="assets/img/icons8-decrease-font-50.png" (click)="getParrent().changeFont('-')">
  <img class="changeFontButton"src="assets/img/icons8-increase-font-50.png" (click)="getParrent().changeFont('+')">
  <button class="round">Dodaj ogłoszenie</button>
 <!-- <button (click)="size =size + 4">+</button> -->


</div>
