<div>
<mat-toolbar class="bar" color="primary" #fontChange>
  <a routerLink='/' role="navigation" aria-label="Home page">
  <img
  width="40"
  alt="Gumtree Logo"
  src="assets/img/tree.png"
  aria-hidden="true"
  />

  <span class="pointer mainButton">Gumtree</span>
  </a>
  <div class="spacer"></div>


  <a tabindex="0" role="button" aria-label="High contrast toggler"><mat-icon class="icon-display-2 icon">contrast</mat-icon></a>
  <a (click)="globalVariableService.changeFontSize('-')" class="changeFontButton" tabindex="0" role="button" aria-label="Decrease font size"><mat-icon class="icon-display-2 icon">text_decrease</mat-icon></a>
  <a (click)="globalVariableService.changeFontSize('+')" class="changeFontButton" tabindex="0" role="button" aria-label="Increase font size"><mat-icon class="icon-display-3 icon">text_increase</mat-icon></a>

  <mat-menu #appMenu="matMenu" class="menuButtons">
    <button routerLink="/login" mat-menu-item class="menuButtons">{{ 'Zaloguj' | translate }}</button>
    <button routerLink="/register" mat-menu-item class="menuButtons">{{ 'Zarejestruj' | translate }}</button>
    <button routerLink="/personal-data" mat-menu-item class="menuButtons">{{ 'Moje dane' | translate }}</button>
    <button routerLink="/saved" mat-menu-item class="menuButtons">{{ 'Zachowane ogłoszenia' | translate }}</button>
  </mat-menu>


  <button mat-raised-button [matMenuTriggerFor]="appMenu"class="menuButtons">
    <mat-icon>account_circle</mat-icon>
    {{ 'Moje Gumtree' | translate }}
  </button>
  <button class="round pointer">{{ 'Dodaj ogłoszenie' | translate }}</button>

  <select (change)="changeLang($any($event.target).value)" class="mx-2 p-2" id="lang">
    <option value="pl" [selected]="lang == 'pl'" id="lang-opt">{{ 'Język' | translate }}: polski</option>
    <option value="en" [selected]="lang == 'en'" id="lang-opt">{{ 'Język' | translate }}: english</option>
  </select>

</mat-toolbar>
</div>
