@import "../../custom-theme.scss";

.round{
  border-radius: 5rem;
  background: map-get($mat-accent, main); //pobranie koloru main z mat-accent
  font-size: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  color: #e6ebf1;

}
.pointer:hover{
  cursor: pointer;
}

body {
  margin:50px 0px; padding:0px;
  text-align:center;
}
#form {
  text-align: center;
  width: 50%;
  padding: 2rem;
  background-color: map-get($mat-primary, main);
  border-radius: 5rem;
  margin: 3rem 25%;
}

.input{
  background-color: white;
  margin: 1rem;
  width: 60%;
}

.whiteFont{
  color: white;
}

//made for good footer placing
#content{
  position: relative;
  min-height: 100vh;
  padding-bottom: 10rem;
}
#content.form{
  display: block;
  text-align: center;
}



.flex{
  margin-top: 1rem;
  display:flex;
  justify-content: flex-end;
}
.spacer {
  flex: 1;
}
.spacer-2 {
  flex: 2.5;
}
#registerButton{
  background-color: #f1ebeb;
  color: black;
  padding: 1rem 3rem 1rem 3rem;
  font-size: 1em;
}

#register{
  text-align: center;
  width: 50%;
  padding: 2rem;
  background-color: map-get($mat-primary, main);
  border-radius: 5rem;
  margin: 3rem 25%;
  color: white;
}

.divider{
  color: white;
  background-color: white;
  margin: 0 25% 1rem 25%;
}

.dividerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

.line {
  flex: 1;
  background-color: white;
}

.text {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1em;
}

#fbGoogleContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 1rem;
}

#googleButton{
  background-color: white;
  color: black;
  margin-left: 2rem;
  width: 40%;
  height: 6rem;
  font-size: 1.1em;
}

#facebookButton{
  background-color: #3c5a98;
  color: white;
  margin-right: 2rem;
  width: 40%;
  height: 6rem;
  font-size: 1.1em;
}

#googleLogo{
  height: 2em;
  width: 2em;
}

#facebookLogo{
  height: 2em;
  width: 2.5em;
  margin-bottom: 0.5rem;
}

.link{
  color: #7b92e9;
  text-decoration: none;
}

.redStar{
  color: red;
}

.title{
  font-size: 3em;
  padding: 2rem;
}

.hasAccount{
  margin: 0.5em;
  font-size: 2em;
}

.getAccount{
  margin: 0.1em;
  font-size: 3em;
}
