<div #fontChange id="content">
<app-toolbar></app-toolbar>
<!-- Toolbar -->
<div id="flexContent" #fontChange2>
  <div class="spacer"></div>
  <div id="search" #changeFont2>
    <!-- Kategoria - selector -->
    <mat-form-field appearance="fill" class="selector roundedLeftBorders">
      <mat-label>{{ 'Kategoria' | translate }}</mat-label>
      <mat-select>
        <mat-option *ngFor="let category of categories" [value]="category.value">
          {{ category.viewValue | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Lokalizacja - selector -->
    <mat-form-field appearance="fill" class="selector">
      <mat-label>{{ 'Lokalizacja' | translate }}</mat-label>
      <mat-select [(value)]="selectedLocation">
        <mat-option *ngFor="let location of locations" [value]="location.value">
          {{ location.viewValue | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- wyszukiwarka - input -->
    <mat-form-field appearance="fill" class="searchInput">
      <mat-label>{{ 'Czego szukasz' | translate }}?</mat-label>
      <input matInput type="search" placeholder="{{ 'np.' | translate }} Passat" value="">
    </mat-form-field>
    <button mat-raised-button class="searchButton">
      {{ 'Szukaj' | translate }}
    </button>
  </div>
</div>
<app-category-grid>
</app-category-grid>
<app-footer></app-footer>
</div>
