a {
    text-decoration: none;
    color: #333333;
}

a.subcategory {
    text-decoration: none;
    color: #33691e;
}

a:hover {
    text-decoration: underline;
}

.row {
    font-weight:600;
    font-size: 1.5em;
    line-height: 1em;
}