<h1 class="title" tabindex="0">{{ 'Kategorie główne' | translate }}</h1>

<div class="container mt-4">
  <div class="row" *ngFor="let tile of tiles">
    <app-subcategories *ngIf="tile.showSubcategories" [id]="tile.id" class="border mat-elevation-z8"></app-subcategories>
  </div>
</div>

<div class="grid">
<mat-grid-list cols="9" rowHeight="150px">
  <mat-grid-tile class="gridItem noselect"
    *ngFor="let tile of tiles; let i = index;"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    (click)="toggleShowSubcategories(tile.id)"
    [class.clicked] = "tile.showSubcategories"
    tabindex="0"
    role="button"
    aria-checked="false">
 <!--   [style.background]="tile.color"-->
    <div [class.bottom]="tile.image != ''" class="category">{{ tile.text | translate }}</div>
    <img class="top" *ngIf="tile.image != ''" src="{{tile.image}}" alt="thumbnail of the {{ tile.text }} category" style="object-fit: scale-down; width: 100%; height: 50%" aria-hidden="true">

  <!--  <img src="https://picsum.photos/id/1/200/{{300 }}" alt="" style="object-fit: cover; width: 100%; height: 100%">
 -->
  </mat-grid-tile>
</mat-grid-list>

</div>
