@import "../../custom-theme.scss";

.grid{
  margin-bottom: 4em;
  padding: 1em 2em 2em 2em;
}

.gridItem{
  position: absolute;
  border-style: solid;
  border-radius: 2rem;
  border-width: 0.4rem;
  border-color: map-get($mat-primary, main);
  // margin-outside: 1rem;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.gridItem:hover{
  /* opacity: .2;*/
  filter: contrast(0.4);
  cursor: pointer;
}

.bottom {
  position: absolute;
  top: 80%;
  text-align: center;
  transform: translate(-0%, -50%);
}

.top{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.category {
  color: map-get($mat-primary, main);
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.1em;
}

.title{
  text-align: center;
  font-style: inherit;
  font-size: 2.5em;
  font-weight: bold;
  margin-top: 65px;
  letter-spacing: 0.2em;
}

.clicked {
  opacity: 0.8;
  background-color: map-get($mat-primary, lighter);
}

.border {
  border: solid 1px gray;
  border-radius: 5px;
}

.high-contrast {
  color: yellow;
}

.high-contrast-bordered {
  border: solid 2px yellow;
  background-color: black !important;
}
