<!--todo zmienic literki na polskie!-->

<div #fontChange id="content">
  <app-toolbar></app-toolbar>
  <div class="content">
    <div class="mat-h1 title">{{ 'Mój profil' | translate }}</div>

    <div class="mainContent">
      <div class="mat-h2 subtitle">{{ 'Dane osobowe' | translate }}</div>
      <div class="mainContentData">
        <form #registerForm="ngForm" ><!--(submit)="$event.preventDefault()"-->
          <div class="row">
            <div class="col-md-8">
              {{ 'Nazwa użytkownika' | translate }}:
              <br/>
              <mat-form-field appearance="fill" class="input inputPosition">
                <mat-label>{{ 'Nazwa użytkownika' | translate }}</mat-label>
                <input matInput placeholder="{{ 'np.' | translate }} uzytkownik" type="text"
                       #username="ngModel"
                       [(ngModel)]="user.username" name="username"
                       pattern="^(?=.{5,20}$)(?![_.])(?!.*[_.]{2})[a-zA-Z0-9._]+(?<![_.])$"
                >
              </mat-form-field>
              <div
              *ngIf="username.invalid"
              class="redAlert">

              Username is <strong>invalid</strong>
                <br/>
                Don't use spaces. Username must be <strong>at least 5</strong> characters long.

            </div>
            {{ 'Płeć' | translate }}:
              <br/>
              <mat-radio-group aria-label="Select an option" class="inputPosition" #radioGender="ngModel"
                               [(ngModel)]="user.gender" name="radioGender" (change)="onRadioGenderChange($event)">
                <mat-radio-button class="radioButton" value="women">{{ 'Kobieta' | translate }}</mat-radio-button>
                <mat-radio-button class="radioButton" value="man">{{ 'Mężczyzna' | translate }}</mat-radio-button>
              </mat-radio-group>
              <section class="example-section">
                <mat-checkbox class="example-margin" #showGender="ngModel"
                              [(ngModel)]="user.showGender" name="showGender"
                              [disabled]="user.gender==='' ? true : false">{{ 'Wyświetlanie płci na profilu' | translate }}</mat-checkbox>
              </section>
              <div class="row">
                <div class="col-md-4" id="birthDateLabel">
                  {{ 'Data urodzenia' | translate }}:
                </div>
                <div class="col-md-8">
<!--  po polsku, ale gorsze
                  <mat-form-field appearance="fill" class="dataPicker">
                    <mat-label>Data urodzenia</mat-label>
                    <input matInput type="date" #date="ngModel" [(ngModel)]="user.date" name="date" [max]="maxDate">
                  </mat-form-field>
-->

                  <mat-form-field appearance="fill" class="dataPicker">
                    <mat-label>{{ 'Data urodzenia' | translate }}</mat-label>
                    <input [matDatepicker]="picker" matInput #date="ngModel" disabled
                           [(ngModel)]="user.date" name="date" [max]="maxDate" [min]="minDate">
                    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                  </mat-form-field>
<!--todo dorobić żeby było też po polsku -->
                </div>
              </div>
              <mat-checkbox class="example-margin"
                            #showBirthDate="ngModel"
                            [(ngModel)]="user.showBirthDate" name="showBirthDate"
                            [disabled]="user.date==='' ? true : false">{{ 'Wyświetlanie daty urodzenia na profilu' | translate }}</mat-checkbox>

            </div>
            <!--
            <div style="text-align:center">
              <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
              <div><img [src]="url" *ngIf="url"></div>
              <p>
                <input type="file" (change)="selectFile($event)">
              </p>
            </div>
            -->

            <div class="col-md-4">
              <div *ngIf="!url">
                <img #image id="personIcon" src="assets/img/person.png" alt="default profile picture">
              </div>
              <div *ngIf="url">
                <img #image [src]="url" id="personIcon">
              </div>
              <div class="row">
                <span *ngIf="msg" [innerHTML]=msg class="redAlert"></span>
                <div class="col-sm-12 col-md-6">

                  <!--<button class="round pointer right" >Dodaj zdjęcie</button>-->

                  <button (click)="fileInput.click()" class="round pointer right">
                    {{ 'Dodaj zdjęcie' | translate }}
                    <input #fileInput (change)="selectFile($event)" class="pointer" class="imageInput" type="file"/>
                  </button>
                </div>

                <div class="col-sm-12 col-md-6">
                  <button (click)="deleteImage()" class="round pointer right">{{ 'Usuń zdjęcie' | translate }}</button>
                </div>

              </div>
            </div>

          </div>
          <div class="row">
            <div class="mat-h2 subtitle">{{ 'Dane kontaktowe' | translate }}</div>
          </div>
          <div class="row">
            <div class="col-md-8">
              {{ 'Adres e-mail' | translate }}:
              <mat-form-field appearance="fill" class="input inputPosition">
                <mat-label>{{ 'Adres e-mail' | translate }}</mat-label>
                <input matInput readonly type="email" value="mail@mail.com">
              </mat-form-field>
              {{ 'Numer telefonu' | translate }}:
              <br/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <mat-form-field appearance="fill" class="input" id="phoneNumberInput">
                <mat-label>{{ 'Telefon' | translate }}</mat-label>
                <mat-select #phoneNumberType="ngModel" [(ngModel)]="user.phoneNumberType" name="phoneNumberType">
                  <mat-option *ngFor="let phoneNumberType of phoneNumberTypes" [value]="phoneNumberType.value">
                    {{ phoneNumberType.viewValue | translate }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="fill" class="input secondInputPosition" id="phoneNumberInput">
                <mat-label>{{ 'Numer telefonu' | translate }}</mat-label>
                <input #phoneNumber="ngModel" [(ngModel)]="user.phoneNumber" matInput name="phoneNumber"
                       pattern="[0-9]{9}"
                       placeholder="{{ 'np.' | translate }} 132123123" type="nuber" value="">
              </mat-form-field>
            </div>


            <!--errors messages-->
            <div class="col-md-8">
              <div
                *ngIf="phoneNumber.invalid || (phoneNumberType.value==='' && phoneNumber.value!='')"
                class="redAlert">

                <div *ngIf="phoneNumberType.value==='' && phoneNumber.value!==''">
                  Phone number type is also <strong>required</strong>
                </div>
                <div *ngIf="phoneNumber.invalid">
                  Phone number is <strong>invalid!</strong>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-4">
              <button class="round pointer right" id="addPhoneNumberButton">{{ 'Dodaj nowy numer' | translate }}</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              {{ 'Lokalizacja' | translate }}:
              <mat-form-field appearance="fill" class="input inputPosition">
                <mat-label>{{ 'Lokalizacja' | translate }}</mat-label>
                <input matInput placeholder="{{ 'np.' | translate }} Lublin" type="text" pattern="^[a-zA-Z]+(?:[\s-][a-zA-Z0-9/]+)*$"
                       #location="ngModel" [(ngModel)]="user.location" matInput name="location">
              </mat-form-field>

              <div *ngIf="location.invalid"
                   class="redAlert">
                Location is <strong>invalid</strong>
                <br/>
                Permited chars: a-z, A-Z, /, 0-9.
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-8">
              {{ 'Adres Twojej strony www' | translate }}:
              <mat-form-field appearance="fill" class="input inputPosition">
                <mat-label>{{ 'Adres strony' | translate }}</mat-label>
                <input matInput placeholder="www..." type="text" pattern="(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})"
                       #wwwAddress="ngModel" [(ngModel)]="user.wwwAddress" matInput name="wwwAddress">
              </mat-form-field>

              <div *ngIf="wwwAddress.invalid"
                   class="redAlert">
                Your inserted address is <strong>invalid</strong>.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="mat-h2 subtitle">{{ 'Pozostałe informacje' | translate }}</div>
          </div>
          <div class="row">
            <div class="col-md-8">
              {{ 'O Tobie' | translate }}:
              <mat-form-field appearance="fill" class="input inputPosition textarea-wrapper">
                <mat-label>{{ 'O Tobie' | translate }}</mat-label>
                <textarea [(ngModel)]="user.aboutMe" #aboutMe="ngModel" name="aboutMe"
                          [maxLength]="350"
                          cdkAutosizeMaxRows="5"
                          cdkAutosizeMinRows="2"
                          matInput><!--cdkTextareaAutosize-->
                </textarea>
              </mat-form-field>
              <span class="remaning"> {{ 'Dostępnych' | translate }} {{maxLetters-aboutYourselfValue.length}} {{ 'znaków' | translate }} </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              {{ 'Zainteresowania' | translate }}:
              <mat-form-field appearance="fill" class="input inputPosition textarea-wrapper">
                <mat-label>{{ 'Zainteresowania' | translate }}</mat-label>
                <textarea  [(ngModel)]="user.interests" #interests="ngModel" name="interests"
                          [maxLength]="350"

                          cdkAutosizeMaxRows="5"
                          cdkAutosizeMinRows="2"
                          matInput><!--cdkTextareaAutosize-->
                </textarea>
              </mat-form-field>
              <span class="remaning"> {{ 'Dostępnych' | translate }} {{maxLetters-interestsValue.length}} {{ 'znaków' | translate }} </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <mat-checkbox class="example-margin" #newsletter="ngModel"
                            [(ngModel)]="user.newsletter" name="newsletter">
                <div class="text-wrap">
                  {{ 'Chcę otrzymywać newslettery i oferty promocyjne' | translate }}.
                </div>
              </mat-checkbox>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <mat-checkbox class="example-margin" #notifications="ngModel"
                            [(ngModel)]="user.notifications" name="notifications">
                <div class="text-wrap">
                  {{ 'Wysyłaj informacje o moich ogłoszeniach i aktualizacjach Gumtree' | translate }}.
                </div>
              </mat-checkbox>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              {{ 'Wprowadź hasło i naciśnij przycisk by zapisać zmiany' | translate }}
              <mat-form-field appearance="fill" class="input inputPosition" >
                <mat-label>{{ 'Hasło' | translate }}</mat-label>
                <input matInput type="password" #password="ngModel"
                       [(ngModel)]="user.password" name="password">
              </mat-form-field>
            </div>
            <div class="col-md-4 align-self-center">
              <button class="round pointer right" id="saveChanges" type="submit" (click)="onSubmit()">{{ 'Zapisz zmiany' | translate }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
