<div #fontChange id="content">
<app-toolbar></app-toolbar>
  <div id="form">
    <h1 class="title"><span class="whiteFont" tabindex="0">{{ 'REJESTRACJA' | translate }}</span></h1>
  <form class="form-group" #registerForm="ngForm">
    <mat-form-field class="input" appearance="fill" [(ngModel)]="user.email">
      <mat-label>{{ 'Adres e-mail' | translate }}</mat-label>
      <input matInput placeholder="{{ 'np.' | translate }} adres@mail.com" id="email"
             [(ngModel)]="user.email" name="email" #email="ngModel"
             type="email" required minlength="4" maxlength="25" email>
    </mat-form-field>
    <div *ngIf="email.invalid && (email.dirty || email.touched)"
         class="redAlert">

      <div *ngIf="email.errors?.['required']">
        {{ 'E-mail jest wymagany' | translate }}.
      </div>
      <div *ngIf="email.errors?.['minlength']">
        {{ 'E-mail musi składać się z co najmniej 4 znaków' | translate }}.
      </div>
      <div *ngIf="email.errors?.['email']">
        {{ 'E-mail jest niepoprawny' | translate }}.
      </div>
    </div>

    <br/>
    <mat-form-field class="input" appearance="fill">
      <mat-label>{{ 'Hasło' | translate }}</mat-label>
      <input matInput type="password"
             required minlength="8"
             [(ngModel)]="user.password" name="password" #password="ngModel"
      >
    </mat-form-field>
    <br/>
    <mat-form-field class="input" appearance="fill">
      <mat-label>{{ 'Powtórz hasło' | translate }}</mat-label>
      <input matInput type="password"
             required minlength="8"  pattern="{{ password.value }}"
             [(ngModel)]="user.repeatedPassword" name="repeatedPassword" #repeatedPassword="ngModel"
      >

    </mat-form-field>
    <!--
    <div *ngIf="password.value!==repeatedPassword.value && (password.dirty || password.touched) && (repeatedPassword.dirty || repeatedPassword.touched)" class="redAlert">
    Password are not the same
  </div>
  -->
    <div *ngIf="(password.invalid || repeatedPassword.invalid) && (password.dirty || password.touched || repeatedPassword.dirty || repeatedPassword.touched)"class="redAlert" >

      <div *ngIf="password.errors?.['required']">
        {{ 'Hasło jest wymagane' | translate }}.
      </div>
      <div *ngIf="repeatedPassword.errors?.['required']">
        {{ 'Powtórzenie hasła jest wymagane' | translate }}.
      </div>
    <mat-error *ngIf="repeatedPassword.errors?.['minlength'] || password.errors?.['minlength']">
      {{ 'Hasło musi składać się z co najmniej 8 znaków' | translate }}.
    </mat-error>
    <div *ngIf="repeatedPassword.errors?.['pattern']">
      {{ 'Hasła nie są takie same' | translate }}.
    </div>


    </div>
    <br/>
    <section class="checkbox whiteFont">
      <mat-checkbox class="example-margin" name="checked" value="false" [(ngModel)]="user.termsAccepted" #checked="ngModel" type="checkbox" required><span class="redStar">*</span>{{ 'Oświadczam, że znam i akceptuję postanowienia regulaminu' | translate }}.</mat-checkbox>
    </section>

    <div *ngIf="checked.value===false && (checked.dirty || checked.touched)" class="redAlert">
      {{ 'Wymagane zgody muszą być zaznaczone' | translate }}.
    </div>


    <section class="checkbox whiteFont">
      <mat-checkbox class="example-margin">{{ 'Tak, chcę aby Gumtree oraz firmy z rodziny Adiventa powiadamiały mnie o wydarzeniach, aktualnościach, nowych funkcjach i promocjach' | translate }}.</mat-checkbox>
    </section>
    <div class="flex">
      <div class="spacer-2"></div>
      <button class="round pointer right" id="loginButton" type="submit" (click)="onSubmit()">{{ 'Zarejestruj' | translate }}</button>
      <div class="spacer"></div>
    </div>
  </form>
  </div>
  <div id="login">
    <h1 class="hasAccount">{{ 'Masz już konto' | translate }}?</h1>
    <mat-divider class="divider"></mat-divider>
    <a routerLink="/login" class="link getAccount" role="link">{{ 'Zaloguj się' | translate }}!</a>
  </div>
<app-footer></app-footer>

</div>
